<!DOCTYPE HTML>
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="East Coast Authentics Website">
		<meta name="keywords" content="cars tuners tuning ct carshow meet">
		<meta name="author" content="ECA">

		<title>East Coast Authentics</title>

		<!-- Favicon -->
		<link href="../public/assets/img/favicon1.ico" rel="icon" type="image/x-icon">			

		<!-- Bootstrap css -->
		<link rel="stylesheet" type="text/css" href="../public/assets/css/bootstrap.min.css">

		<!-- Bootstrap fullscreen modal -->
		<link rel="stylesheet" type="text/css" href="../public/assets/css/bootstrap-modal-carousel.css">

		<!-- Animated text css -->
		<link rel="stylesheet" type="text/css" href="../public/assets/css/animated-text.css">

		<!-- Custom css -->
		<link rel="stylesheet" type="text/css" href="../public/assets/css/custom.css">

		<!-- Owl Carousel css -->
		<link rel="stylesheet" type="text/css" href="../public/assets/css/owl.carousel.css">
		<link rel="stylesheet" type="text/css" href="../public/assets/css/owl.theme.css">
		<link rel="stylesheet" type="text/css" href="../public/assets/css/owl.transitions.css">


		<!-- Animate css -->
		<link rel="stylesheet" type="text/css" href="../public/assets/css/animate.css">

		<!-- Themify icon -->
		<link href="../public/assets/themify-icons/themify-icons.css" rel="stylesheet" type="text/css">			

		<!-- Google fonts -->
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,600italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500' rel='stylesheet' type='text/css'>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
	        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->

	</head>

	<body id="page-top" class="index">

		<!-- Preloader -->
		<div id="loader">
			<div class="icon"></div>
		</div>
		<!-- END: Preloader -->		

		<!-- Header -->
		<header class="header-img">
			<div class="header-overlay"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-left">
						<small>beta</small>
							<h1>East Coast Authentics</h1>
							
							<h2 class="cd-headline clip is-full-width">
								<span class="cd-words-wrapper">
									<b class="is-visible">ECA Take Over Car Show | August 20  </b>
									<b >Website in development - Visit us on FaceBook!</b>
									<b>Sunday Meets - 90 Elm Street, Enfield CT | 5PM - 9PM</b>
								</span>
							</h2>
							<a href="https://www.facebook.com/groups/661934557280045/" class="page-scroll btn custom-btn-3">LEARN MORE</a>
						</div>
					</div>
				</div>
		</header>
		<!-- END: Header -->


		<!-- Scroll Top -->
		<div class="scroll-top">
			<a class="page-scroll" href="#page-top"><span class="ti-angle-up"></span></a>
		</div>
		<!-- END: Scroll Top -->																

		<!-- javascript plugins -->
		<script src="../public/assets/js/jquery-1.11.1.min.js"></script>
		<script src="../public/assets/js/bootstrap.min.js"></script>
		<script src="../public/assets/js/jquery.easing.1.3.min.js"></script>
		<script src="../public/assets/js/appear.js"></script>
		<script src="../public/assets/js/bootstrap-progressbar.min.js"></script>
		<script src="../public/assets/js/owl.carousel.min.js"></script>
		<script src="../public/assets/js/jquery.mixitup.min.js"></script>
		<script src="../public/assets/js/waypoints.min.js"></script>
		<script src="../public/assets/js/jquery.counterup.min.js"></script>
		<script src="../public/assets/js/animated-jquery.js"></script>
		<script src="../public/assets/js/wow.min.js"></script>


		<!-- custom js -->
		<script src="../public/assets/js/custom.js"></script>		

	</body>
	
</html>			